.mywork{
    margin: 80px 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

/* .mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
} */
/* .mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
} */
.mywork-showmore {
    display: flex;
    padding: 15px 40px;
    border-radius: 50px;
    border: 2px solid white;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
    margin: 50px auto; /* This centers it horizontally */
    width: max-content; /* Prevents it from stretching full-width */
    cursor: pointer;
    transition: 0.4s;
}

.mywork-showmore:hover {
    gap: 25px; /* Smoothly moves the arrow on hover */
    /* background: #B415FF; Or your preferred brand color */
    border-color: #B415FF;
}

.mywork-showmore img {
    width: 15px;
}

@media (max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}